.profile__wrapper {
    max-width: 1024px;
    /*noinspection CssInvalidPropertyValue*/
    width: -webkit-fill-available;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.profile__data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.profile__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
}

.profile__title {
    font-weight: 800;
    font-size: 28px;
    line-height: 32px;
}

.profile__avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.profile__name {
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
}

.profile__contancts {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.profile__frame {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-decoration: none;
}

.profile__phone, .profile__mail {
    color: #7B8E98;
}

.profile__buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.profile__button {
    display: flex;
    /*noinspection CssInvalidPropertyValue*/
    width: 60%;
    background-color: #FFFFFF;
}