.wrap {
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.form__forgot {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.form__forgot p, .form__forgot span {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #7B8E98;
}

.inputs div {
    display: flex;
    flex-direction: column;
    position: relative;
}

.buttons {
    display: grid;
    gap: 0.5rem;
}

.form__forgot button {
    width: 100%;
}

.white__button {
    background-color: #FFFFFF;
}

.white__button:hover {
    cursor: pointer;
}
