.wrapper {
    border: 1px solid #CFD8DC;
    border-radius: 55px;
    width: 140px;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.wrapper div {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    user-select: none;
    cursor: pointer;
}

.operator {
    height: 100%;
    width: 30%;
}

.count {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    font-weight: 700;
    font-size: 21px;
    line-height: 24px;
    width: 20%;
}

.disable {
    fill: #CFD8DC;
}

.active {
    fill: #1A1A1A;
}

.plus {
    fill: #CFD8DC;
}
