.wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.button {
    background-color: #FFFFFF;
    width: 20%;
}

.photo {
    max-width: 90px;
    max-height: 60px;
    gap: 1rem;
}

@media (max-width: 580px) {
    .button {
        width: 60%;
    }
}