.wrap {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

form p {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #7B8E98;
}

.inputs {
    display: flex;
    flex-direction: column;
    /*noinspection CssInvalidPropertyValue*/
    width: -webkit-fill-available;
    gap: 0.5rem;
}

.inputs div {
    display: flex;
    flex-direction: column;
    position: relative;
}

input {
    height: 24px;
    border: 1px solid #CFD8DC;
    border-radius: 12px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    padding: 14px 16px;
    outline: none;
}

input:focus {
    height: 24px;
    border: 1px solid #FFE44D;
    padding: 24px 16px 4px;
}

input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #7B8E98;
}

input:focus::placeholder{
    position: absolute;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    top: 4px;
    color: #7B8E98;
}

.inputs span {
    color: red;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}

.buttons {
    display: grid;
    gap: 0.5rem;
    width: 100%;
}

button {
    width: 100%;
}