.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    border-radius: 16px;
    text-decoration: none;
    color: #1A1A1A;
}

.card__image {
    max-width: 100%;
}

.card__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.card__discount {
    position: absolute;
    left: 0;
}

.card__like {
    position: absolute;
    right: 0;
}

.card__button {
    width: 116px;
    height: 40px;
}

.card__price {
    text-decoration-line: line-through;
}

.hide {display: none}
