.card {
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    justify-content: center;
    text-decoration: none;
    color: #1A1A1A;
    cursor: auto;
    padding: 0.5rem;
    position: relative;
}

.card:hover {
    box-shadow: 0 2px 4px rgba(40, 41, 61, 0.04), 0 8px 16px rgba(96, 97, 112, 0.16);
}

.card__sticky {
    position: absolute;
    display: flex;
    height: 30px;
    justify-content: space-between;
    align-items: center;
    top: 0.5rem;
    left: 0.5rem;
    right: 0.5rem;
}

.card__tags-wrapper {
    display: flex;
    align-items: center;
    padding: 4px;
    gap: 5px;
}

.card__discount, .card__new, .card__sale {
    color: #FFFFFF;
    border-radius: 1rem;
    padding: 2px 8px;
}

.card__favorite {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card__favorite:hover {
    cursor: pointer;
}

.card__like {
    stroke: #7B8E98;
}

.card__like_liked {
    fill: #F44336;
}

.card__discount {
    background-color: #F44336;
}

.card__sale {
    background-color: #01A54E;
}

.card__new {
    background-color: #03A9F4;
}

.card__image-wrapper {
    display: flex;
    justify-content: center;
    height: 234px;
    max-width: 234px;
    align-items: center;
}

.card__image {
    max-height: 234px;
    max-width: 234px;
    width: 100%;
    object-fit: contain;
}

.card__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.card__count {
    font-size: 12px;
    line-height: 14px;
    color: #7B8E98;
}

.card__description {
    height: 40px;
    font-weight: 600;
    font-size: 16px;
}

.card__button {
    width: 60%;
}

.card__old-price {
    text-decoration-line: line-through;
    font-weight: 600;
    font-size: 12px;
    color: #1A1A1A;
}

.card__price {
    font-weight: 800;
    font-size: 20px;
    color: #1A1A1A;
}

.card__price-with-disc {
    font-weight: 800;
    font-size: 20px;
    color: #F44336;
}

.card__nav-link {
    text-decoration: none;
    color: #1A1A1A;
    cursor: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*noinspection CssInvalidPropertyValue*/
    height: -webkit-fill-available;
}

@media (max-width: 580px) {
    .card__description {
        height: auto;
        font-weight: 600;
        font-size: 16px;
    }

    .card__tags-wrapper {
        display: flex;
        flex-direction: column;
        padding: 4px;
        gap: 5px;
    }

    .card__sticky {
        align-items: flex-start;
    }

    .card__image-wrapper {
        display: flex;
        justify-content: center;
        max-height: 234px;
        max-width: 234px;
        align-items: center;
    }

    .card__image {
        max-height: 234px;
        max-width: 234px;
        width: 100%;
    }

    .card__button {
        width: 100%;
    }
}
