.wrapper {
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    /*noinspection CssInvalidPropertyValue*/
    width: -webkit-fill-available;
    gap: 20px;
}

product p {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.back:hover {
    cursor: pointer;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.properties {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
}

.left {
    position: relative;
}

.image {
    width: 100%;
    object-fit: contain;
}

.disc {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px 8px;
    position: absolute;
    left: 0;
    top: 0;
    background: #F44336;
    border-radius: 20px;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    color: #FFF;
    font-style: normal;
}

.hide {
    display: none;
}

.right {
    display: flex;
    align-items: flex-start;
}

.preimage {
    width: 80px;
    margin-right: 40px;
    object-fit: contain;
}

.frame {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
}

.prices {
    display: flex;
    flex-direction: column;
}

.price {
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 32px;
}

.oldprice {
    text-decoration-line: line-through;
    font-size: 14px;
    line-height: 20px;
}

.pricewithdisc {
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 32px;
    color: #F44336;
}

.buttons {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.favorite {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #7B8E98;
    cursor: pointer;
    width: fit-content;
}

.placeholders {
    display: flex;
    flex-direction: column;
    gap: 8px;
   }


.delivery, .warranty {
    padding: 12px;
    background: rgba(236, 239, 241, 0.5);
    border-radius: 12px;
    display: flex;
    align-items: flex-start;
    gap: 14px;
}

.details {
    display: grid;
    gap: 22px;
    grid-template-columns: 1fr 6fr;
}

.title {
    display: inline;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #7B8E98;
    position: relative;
}

.dashed {
    position: absolute;
    display: inline-block;
    width: 100%;
    top: 14px;
    left: 0;
    height: 1px;
    content: " ";
    border-bottom: #CFD8DC 1px dashed;
}

.description, .characteristics {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
}

@media (max-width: 580px) {
    .wrapper {
        padding: 0.5rem;
    }

    .properties {
        display: grid;
        grid-template-columns: 1fr;
    }

    .preimage {
       display: none;
    }

}