.modal {
    display: none;
}

.content {
    background-color: white;
    position: relative;
    border-radius: 20px;
    padding: 2rem;
    display: flex;
}

.close {
    position: absolute;
    top: 20px;
    right: 20px;
}

.close:hover {
    cursor: pointer;
}

.active {
    display: flex;
    position: fixed;
    background: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}
