.wrap {
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.form__author {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.form__author p, .form__author span {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #7B8E98;
}

.inputs {
    display: flex;
    flex-direction: column;
    /*noinspection CssInvalidPropertyValue*/
    width: -webkit-fill-available;
    gap: 0.5rem;
}

.inputs div {
    display: flex;
    flex-direction: column;
    position: relative;
}

.buttons {
    display: grid;
    gap: 0.5rem;
    width: 100%;
}

.form__author button {
    width: 100%;
}

.white__button {
    background-color: #FFFFFF;
}

.white__button:hover {
    cursor: pointer;
}

.reset {
    cursor: pointer;
}