.App {
  display: flex;
  flex-direction: column;
  width: 100%;
}

button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 18px;
  width: 116px;
  height: 40px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  border-radius: 55px;
  border: none;
  background-color: var(--main-color);
}

button:hover {
  cursor: pointer;
}