.App {
  display: flex;
  flex-direction: column;
  width: 100%;
}

button {
  height: 48px;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9px 16px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  border-radius: 55px;
  border: none;
  background-color: var(--main-color);
  box-shadow: 0 2px 8px rgba(40, 41, 61, 0.24)
}

button:hover {
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(40, 41, 61, 0.24), 0 4px 16px rgba(96, 97, 112, 0.36);
}